* {
    margin: 0;
    padding: 0;
}

/* NAV */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #15044A;
}

.logo{
    color: whitesmoke;
    letter-spacing: 5px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.links li{
    list-style: none;
}

.links a{
    color: whitesmoke;
    text-decoration: none;
    letter-spacing: 3px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.links a:hover{
    color: black;
}

.my-bar{
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}

/**/
.bpp-front {
    width: 100%;
    height: 78vh;
    background-attachment: fixed;
}

/* MISSION - VISION */
.mission-vision {
    max-width: 1200px;
    margin: 0 auto;
    padding: 25px;
}

.mv-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.mv-card {
    width: 500px;
    padding: 25px;
    border: 1.5px solid black;
    border-radius: 10px;
    background-color: skyblue;
    font-size: 18px;
}

/* MAIN PAGE */
.main-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 25px;
}

.main-page {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main-left img {
    width: 350px;
}

.main-right {
    border: 2px solid black;
    padding: 25px;
    border-radius: 9px;
    font-size: 20px;
}

.main-right ul {
    margin-left: 25px;
}

/* FOOTER */
footer {
    background-color: #241454;
    color: white;
    padding: 20px 35px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

